import time
import psycopg2
from psycopg2 import Error

uname = "{{ postgresql_user }}"
upasswd = "{{ postgresql_pass }}"

time.sleep(10)

try:
    connection = psycopg2.connect(user = uname,
                                  password = upasswd,
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "jva")

    cursor = connection.cursor()

    create_table_query = '''CREATE TABLE sensemeas
          (ID INT PRIMARY KEY          NOT NULL,
          TIME            TIMESTAMP    NOT NULL,
          TEMP            REAL,
          HUMI            REAL,
          PRES            REAL); '''

    cursor.execute(create_table_query)
    connection.commit()

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while creating PostgreSQL table", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")