import time
import psycopg2
import datetime
from psycopg2 import Error
from sense_hat import SenseHat

sense = SenseHat()
sense.get_pressure()
time.sleep(5)

uname = "{{ postgresql_user }}"
upasswd = "{{ postgresql_pass }}"

try:
    connection = psycopg2.connect(user = uname,
                                  password = upasswd,
                                  host = "127.0.0.1",
                                  port = "5432",
                                  database = "jva")

    cursor = connection.cursor()

    postgreSQL_select_Query = "select * from sensemeas"

    cursor.execute(postgreSQL_select_Query)
    sensemeas_records = cursor.fetchall() 

    max_id = 0
    for row in sensemeas_records:
        if int(row[0]) > max_id:
            max_id = int(row[0])

    print("max_id is " + str(max_id))
    new_id = max_id + 1

    nyt = datetime.datetime.now()

    temp = sense.get_temperature()
    pres = sense.get_pressure()
    humi = sense.get_humidity()

    postgres_insert_query = """ INSERT INTO sensemeas (ID, TIME, TEMP, HUMI, PRES) VALUES (%s,%s,%s,%s,%s)"""
    record_to_insert = (new_id, nyt, temp, humi, pres)
    cursor.execute(postgres_insert_query, record_to_insert)

    connection.commit()
    count = cursor.rowcount
    print(count, "Record inserted successfully into sensemeas table")

except (Exception, psycopg2.DatabaseError) as error :
    print ("Error while accessing PostgreSQL", error)
finally:
    #closing database connection.
        if(connection):
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")
